* {
    box-sizing: border-box;
}
body {
    background-image: url('../img/bckgrd1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    font-family: 'Raleway', sans-serif;

}
.container {
    display: flex;
    min-height: 24em;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.quote-box {
    flex: none;
    width: 50%;
    padding: 20px;;
    color: #000000;
}
.quote-author {
    font-style: italic;
    font-size: 22px;
}
button {
	background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: 2px;
}
button:hover {
	background-color:transparent;
    color: #000000;
}
#tweet {
    text-align: right;
    font-size: 17px;
	cursor:pointer;
    text-decoration: none;
    margin: 2px;
    padding: 1px;
}
